@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: #CED5DD;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 360px;
    padding: 25vh 0px 0px 0px;
}
#imagem{
    background-image: url(imagens/lounge.jpg);
    height: 250px;
    width: 300px;
    background-size: cover;
}
form{
    height: auto;
    width: 300px;
    height: 250px;
    background-color: #9EACB9;
    color: white;
    font-size: larger;
    text-align: center;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411);
}
#botao{
    padding: 5px;
    margin: 15px;
    color: black;
    background-color: white;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.336);
    cursor: pointer;
}
#esq{
    text-decoration: none;
    color: #132028;
    cursor: pointer;
}
label{
    padding: 1px;
    cursor: pointer;
}
#esq{
    margin: 5px;
}
#cad{
    text-decoration: none;
    color: rgba(25, 255, 25, 0.678);
    font-weight: bolder;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.45);
}